# Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# my_files
notes_for_me
team_tasks

# Database
*.db
*.sqlite3

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/
.pytest_cache/

# Temporary
tmp/
temp/

#risk branch do not touch -_-
my_notes.txt
review.txt
volatilty.txt
yaho.py
yf.py